mixin videoToMixin(item)
  a(href=`/videos/${item.id}`).video-mixin 
    div.video-mixin__thumb
    div.video-mixin__data
      span.video-mixin__title=item.title
      div.video-mixin__meta
        span #{item.owner.name} • 
        span #{item.meta.views}회