.video__data {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  .video__data__info{
    width: 100%;
    display: flex;
    flex-direction: column;
    .video__title {
      font-size: 32px;
      margin-bottom: 10px;
    }
    .video__hashtags {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      // margin-bottom: 20px;
      .video__hashtag {
        background-color: lightgray;
        color: #000000;
        padding: 2px 10px;
        margin: 0px 4px 8px 0px;
        border-radius: 14px;
      }
    }
  }
  .video_data__uploadInfo {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 350px;
    .video__owner {
      margin-bottom: 5px;
      font-size: 16px;
      a {
        color: cornflowerblue;
        text-decoration: underline;
      }
    }
    .video__createdAt {
      font-size: 14px;
      margin-bottom: 10px;
    }
    .video__data__modify{
      display:flex;
      font-size: 16px;
      a {
        display: flex;
        justify-content: end;
        padding: 4px;
        border-radius: 4px;
        margin: 4px;
        i{
          margin-left:10px;
        }
      }
      .video__modify__edit {
        border: 1px solid white;
      }
      .video__modify__delete {
        background-color: red;
      }
    }
  }
}
.video__desc {
  width: 100%;
  overflow-wrap: break-word;
  margin-bottom: 50px;;
}
.video__add-comments {
  display: flex;
  justify-content: center;
  #commentForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    textarea {
      resize: none;
      height: 100px;
      margin-bottom: 4px;
      padding: 10px;
      background-color: lightgray;
    }
    button {
      padding: 4px;
      font-size: 16px;
      background-color: white;
      border: none;
      border-radius: 10px;
      font-weight: bold;
    }
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    .video__comment__info {
      display: flex;
      justify-content: space-between;
      align-items: start;
      margin-bottom: 6px;
      .comment__owner {
        width: 100%;
        margin: 0 6px;
        span {
          background-color: black;
          color: white;
          padding: 2px 10px;
          border-radius: 10px;
          font-weight: bold;
        }
      }
    }
    .video__comment__text {
    padding: 0px 22px;
    overflow-wrap: break-word;
    }
  }
}
