extends base.pug

block content
  h4 Update Video
  form(method="POST")
    input(name="newTitle", placeholder="Video Title", value=video.title, required)
    input(name="newDescription" placeholder="Description", required, type="text", minlength=20, value=video.description)
    input(name="newHashtags" placeholder="Hashtags, separated by comma.", required, type="text", value=video.hashtags.join())
    input(value="Save", type="submit")