extends base.pug

block content
  img(src="/" + loggedInUser.avatarUrl, width="100", height="100")
  //- from의 enctype을 multipart/form-data로 설정한 이유는, multer 미들웨어 때문
  form(method="POST", enctype="multipart/form-data")
    label(for="avatar") Avatar
    input(type="file", id="avatar", name="avatar", accept="image/*")
    //- 이 아래에서 쓰는 loggedInUser 변수는 미들웨어에서 자동으로 템플릿에 전달해주는 것. middlewares.js 파일에 있다.
    input(placeholder="Name", name="name", type="text", required, value=loggedInUser.name)
    input(placeholder="Email", name="email", type="email", required, value=loggedInUser.email)
    input(placeholder="Username", name="username", type="text", required, value=loggedInUser.username)
    input(placeholder="Location", name="location", type="text", required, value=loggedInUser.location)
    input(type="submit", value="Update Profile")
    if !loggedInUser.socialOnly
      hr
      a(href="change-password") Change Password &rarr;