extends base.pug

block content
  form(method="POST")
    //- 이 아래에서 쓰는 loggedInUser 변수는 미들웨어에서 자동으로 템플릿에 전달해주는 것. middlewares.js 파일에 있다.
    input(placeholder="Name", name="name", type="text", required, value=loggedInUser.name)
    input(placeholder="Email", name="email", type="email", required, value=loggedInUser.email)
    input(placeholder="Username", name="username", type="text", required, value=loggedInUser.username)
    input(placeholder="Location", name="location", type="text", required, value=loggedInUser.location)
    input(type="submit", value="Update Profile")
    if !loggedInUser.socialOnly
      hr
      a(href="change-password") Change Password &rarr;